<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cn.mapper.UserMapper" >

    <resultMap id="userResult" type="com.cn.entity.User" />
    <parameterMap id="user" type="com.cn.entity.User"/>

    <select id="getUserById" resultMap="userResult" parameterMap="user">
         select * from tb_user WHERE  id= #{id}
    </select>
      <select id="getUserList" resultMap="userResult">
          select * from tb_user
      </select>
    
    <select id="getUserMapperByName" resultMap="userResult" parameterType="string">
        SELECT * FROM  tb_user WHERE user_name = #{name}
    </select>
    
    <select id="getUserMapperList" resultType="com.cn.entity.User" >

        SELECT * FROM tb_user
    </select>
    
    <select id="getUserMapperByNameList" resultMap="userResult" >
        SELECT  * from tb_user WHERE  user_name = #{name}

    </select>

</mapper>